<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<script>
  class RadioStation{
    users = [];

    subscribe(user){
      this.users.push(user);
      return this;
    }
    notify(song){
      for (const user of this.users){
        console.log(`${user.name}, playing song is ${song}`)
      }
    }

  }

  let radioStation = new RadioStation();
  radioStation
  .subscribe({name:'vasya'})
  .subscribe({name: 'vanya'})

  radioStation.notify('la-la-la');

  radioStation.subscribe({name: 'kokos'});
  radioStation.notify('na-na-na');
</script>
</body>
</html>
